.todo-container {
  max-width: 600px;
  margin: 20px auto;
}
.toolbar-center {
  display: flex;
  justify-content: center;
  align-items: center;     
}


.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.task-title {
  flex: 1;
  margin-left: 10px;
}
